<% include partials/header %>
    <div class="container">
        <header class="jumbotron">
            <h1>YelpCamp!</h1>        
            <h4>The site to visit camps with family</h4>
        </header>
     <ul class="whiter" style="font-size: 20px;">
        <p class="whiter">Features:
        <li>Add new Campgrounds</li>
        <li>Have fun with friends</li>
        <li>Like, Comment and Share Campgrounds</li>
        <li>Maintain your own user portal</li>    
        <li>Build up your profile</li>
    </ul>
    </p><br>
    <a class="whiter" href="/campgrounds">View All</a>
    </div>
<% include partials/footer %>