<% include partials/header %>

<div class="container">
    <div class="jumbotron text-center">
        <h1><%=campgrounds.title%></h1><hr>
        <img src="<%=campgrounds.image%>" style="width:100%" alt="<%=campgrounds.title%>">
        <h3 style="text-align: left;"><%=campgrounds.desc%></h3>
    </div>
</div>
    
<% include partials/footer %>